.botData{
  background-color:black;
 
}

.deletebutton{
  background-color: red;
  margin-left: 5%;
}

.bot-army {
  min-height: 300px;
  max-width: 100%;
background-color: bisque;
  
  
}

.column{
padding:20px;

}

.p{
  color: black;
  text-transform: uppercase;
  font-weight: 200;
}

.bot-collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}