.botData{
  background-color:whitesmoke;
 
}

.deletebutton{
  background-color: red;
  margin-left: 5%;
}

.bot-army {
  min-height: 300px;
  max-width: 100%;
  background-color:yellowgreen;
  
  
}

.column{
padding:20px;


}